.container{
    height:80vh;
    width:80vw;
    display:grid;
    grid-gap:10px;
    grid-template-columns:80px 160px 80px;
    grid-template-rows: 80px 200px 80px;
    justify-content:center;
    align-content:center; 

}

.box{
    background-color:rgb(149, 149, 224);
    border:black 1px solid;
    color:rgb(152, 219, 246);
    display:flex;
    align-content: center;
    justify-content:center;
}

.black{
    color:rgb(206, 85, 85);
}